.main-nav {
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  word-spacing: 1rem;
  font-size: 2em;
  background-color: aquamarine;
  width: auto;
  height: 100%;
}
.btn {
  margin-left: 15px;
}

.smsg {
  margin-left: 50px;
}
